
.delete_infor{ border: none; width: inherit; height: inherit; background-color: white;}
.delete_infor:hover{ background-color:#F5F5F5;}

.interview_ad{ width: 80% !important; margin: 0 auto; height: 50px;}
.interview_ad .col-md-4+label{ margin-left: 15%;}
.interview_ad .bigs+label{ margin-left: 0%;}
.interview_ad .smal+label{ margin-left: 6.5%;}
.interview_ad .cmkg{ width: 80%; margin: 0; display: initial; margin-right: 8%;}
.martop2{ margin-top: 10px;}
.interview_ad .bmkg{ margin-right: 4%; width: 75%;}
.interview_ad .smkg{ padding:0;}
.interview_ad .smkg input{ margin-left:2%; margin-left:3%; width:82%;}
.interview_ad .mr0{ margin-right:0; width:76%;}

.interview_ad textarea{ resize: none; overflow: auto;}
.paddzero{ padding:0;}
.mlr_1{ margin:0 10px;}

.w1000{ min-width:2000px; max-width:5000px; overflow-y:scroll;}


































